#introducao{
    display: flex;
    justify-content: center;
}
.container{
    text-align: center;
}

#iniciar{
    padding: 10px;
    border: none;
    background: rgb(71, 71, 71);
    color: white;
    font-size: 18px;
    border-radius: 10px;
}
#iniciar:hover{
    background: black;
    transition: 1s;
}
li{
    list-style: none;
}
.container2{
    display: none;
}
